import mysql.connector
import PyQt5
import pyttsx3
import twilio
import mediapipe
import opencv-python
import autopy
import numpy

{

In AtmGui.py/
In Function=proceed()

flags are used to indicating and performing task like ,
if flag=0 - withrawal >proceed > flag=1
flag=1 - pin > proceed > flag 2
flag=2 - verification successful > flag=3
flag=3 - do nothing
flag=4 - enter correct pin >flag=5
flag=5 - enter new pin and update >flag=3

this helps us very well to take the values from-
only one TEXTBOX for various type of task.

}

CATCH ALL ERROR { bank choices if not selected then?? }
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version 
for the right syntax to use near 'b'F)}kW' where ph_no='7057997137' and bank='SBI'' at line 1