mysql-connector-python
PyQt5
pyttsx3
twilio
mediapipe
opencv-python
autopy
numpy
base64
threading 

{

In AtmGui2.py/
In Function:- proceed()

flags are used to indicating and performing task like ,
if flag=0 - withrawal -->proceed --> flag=1
flag=1 - pin --> proceed --> flag 2
flag=2 - verification successful --> flag=3
flag=3 - do nothing
flag=4 - enter correct pin ->flag=5
flag=5 - enter new pin and update -->flag=3

this helps us very well to take the values from-
only one TEXTBOX for various type of task.

}
