import mysql.connector
import PyQt5
import pyttsx3
import twilio
import mediapipe
import opencv-python
import autopy
import numpy
import base64

==============NOTE================

In AtmGui.py/
In Function --> proceed()

Here, flags are used to indicating and performing task like,

if flag=0 - withrawal -->proceed --> flag=1
flag=1 - pin --> proceed --> flag 2
flag=2 - verification successful --> flag=3
flag=3 - do nothing
flag=4 - enter correct pin -->flag=5
flag=5 - enter new pin and update -->flag=3

This helps us very well to take the values from-
only one TEXTBOX for various type of task.

